  <p>
    <strong>Review id:</strong>
    <%= review.reservation_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>
  <p>
    <strong>Comment:</strong>
    <%= review.comment %>
  </p>


