<h1>My Reservations</h1>

<div>
  <div>
    <% @reservations.each do |reservation| %>
      <div>
        <%= render reservation %>
        
        <p>
          <%= link_to "Reservation:", "/reservations/#{reservation.id}" %>
        </p>
      </div>
    <% end %>
  </div>
</div>

<div>
  <%= link_to "See All Rooms", rooms_path%>
</div>

