<%= render @reservation %>

<h3>Reviews</h3>
<%= render @reservations.review %>

<h4>Add a review:</h4>
<%= render 'reviews/form' %>


<div>
  <%= link_to "Back to reservations", reservations_path %>
</div>
