
<div class="container-sm text-center">
  <div class="row row-cols-2">
    <% @rooms.each do |room| %>
      <div class="col bg-light">
        <%= render room %>
        
        <p class="btn btn-outline-primary">
          <%= link_to "Visit Room:", room %>
        </p>
      </div>
    <% end %>
  </div>
</div>