
<div class="container-lg text-center">
  <div class="row row-cols-2 m-2">
    <% @rooms.each do |room| %>
      <div class="col bg-light mb-4">
        <%= render room %>


      </div>
    <% end %>
  </div>
</div>
