
<div class="container-sm text-center">
  <div class="row row-cols-2">
    <% @rooms.each do |room| %>
      <div class="col bg-light">
        <%= render room %>
        
        <p>
          <%= link_to "Room:", room %>
        </p>
      </div>
    <% end %>
  </div>
</div>