.logo {
  display: block;
  margin: 0 auto;
  fill: #3498db;
  width: 3em;
  height: 3em
}

.logo-large {
  display: block;
  margin: 0;
  padding; 0;
  fill: #3498db;
  width: 40em;
  height: 40em
}

.background-image {
  background: url("bark-bnb-large.png");
  background-repeat: no-repeat;
  background-size: 100%
}