.logo {
  display: block;
  margin: 0 auto;
  fill: #3498db;
  width: 3em;
  height: 3em
}

.logo-large {
  display: block;
  margin: 0;
  padding: 0;
  fill: #3498db;
  width: 40em;
  height: 40em
}

.background-image {
  background: url("bark-bnb-transparent.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.avatar-image {
  display: block;
  margin: 1em;
  padding: 1em;
  fill: #3498db;
  width: 2em;
  height: 2em;
}

.height-100{
  height:100vh;
}


/* RATING STYLES */

.card-b{
  width:380px;
  border:none;
  height:280px;
}

.ratings{
  margin-right:10px;
}

.ratings i{
  
  color:#cecece;
  font-size:32px;
}

.rating-color{
  color:#fbc634 !important;
}

.review-count{
  font-weight:400;
  margin-bottom:2px;
  font-size:24px !important;
}

.small-ratings i{
color:#cecece;   
}

.review-stat{
  font-weight:300;
  font-size:18px;
  margin-bottom:2px;
}